.services {
  margin-bottom: 65px;
}

.services__item {
  margin-bottom: 49px;
}

.servises__link {
  text-decoration: none;
  display: flex;
}

a.servises__link:hover .button {
  background-color: #FF3D00;
  color: #fff;
}
